@font-face {
  font-family: "Avenir Next";
  src: url("https://www.devbridge.com/Content/Styles/Fonts/f6ebea36-fb7c-4458-a43e-2112c48c17e4.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("https://www.devbridge.com/Content/Styles/Fonts/f6ebea36-fb7c-4458-a43e-2112c48c17e4.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: "Avenir Next";
  src: url("https://www.devbridge.com/Content/Styles/Fonts/8d2e93bb-cf4f-42f3-9637-a2df4c487681.woff")
      format("woff");
  font-weight: 900;
  font-style: normal;
}
